<h2>Acknowledgements</h2>
<p>Sandia National Laboratories is a multi-program laboratory managed and operated by Sandia Corporation,
a wholly owned subsidiary of Lockheed Martin Corporation, for the U.S. Department of Energy's National Nuclear Security Administration
under contract DE-AC04-94AL85000.</p>


<img src="{{ root_url }}/images/SandiaLogo.png" alt="Sandia National Laboratories" />
<img src="{{ root_url }}/images/DOELogo.png" alt="U.S. Department of Energy" />
</br>SAND 2012-7422P</br>

Copyright &copy; {{ site.time | date: "%Y" }}  
{% if site.author %}
    {{ site.author }}
{% else %}
    {{ site.title }}
{% endif %}


